<!-- <head>
<style>
body, {
    height: 100%;
}

.parallax { 
    /* The image used */
    background-image: url("/modules/core/client/img/brand/couple1.jpg");

    /* Full height */
    height: 500px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
</head>

<div class="parallax"></div>
<div style="height:250px;background-color:transparent;font-size:36px">
Scroll Up and Down this page to see the parallax scrolling effect.
This div is just here to enable scrolling.
Tip: Try to remove the background-attachment property to remove the scrolling effect.
</div>

<div class="parallax"></div> -->
<!-- <style>
body {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: white;
  /*color: #333;*/
  
   background-image: url("/modules/core/client/img/brand/couple1.jpg");

   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
</style> -->



<section ng-controller="HomeController">
  <div class="text-center">

    <!-- <div class="row"> -->
      <!-- <div class="col-md-12"> col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12"> -->
       <!-- <img alt="MEAN.JS" class="img-responsive text-center" align="center" style="padding: 0px 0px 250px 50%" src="modules/core/client/img/brand/PAIR.png"/> -->
      <!-- </div> -->
    <!-- </div> -->
  
   <!--  <div class="row">
      <p class="lead">
      
        <h2>Twenty-Three pairs of chromosomes. </h2>
        <h2>One perfect PAIR.</h2>
      </p>
    </div> -->
    <div style="height: 330px">
    <h2 id="pair">PAIR</h2>
    DNA Intelligence Behavior Interest Dating
    <br>We help you make a perfect PAIR
    <!-- <img alt= "PAIR LOGO" src="modules/core/client/img/brand/science64.png" class="img-responsive" align="center" style="padding: 25px 0px 0px 47%"  /> -->

    </div>
    <!-- <br> -->
    <div class="row">
      <!-- <p>I am a -->
      <!-- <button><span class="fa fa-facebook-official"></span>Click Me</button> -->
      <br>
       <a id="fb-button" class="btn btn-danger btn-lg" href="http://www.facebook.com" target="_blank"><span class="fa fa-facebook-official"></span> Login with Facebook</a>

       </div>
         We do NOT post anything to Facebook
       <div>
       <br>
       <a class="btn btn-danger btn-lg" ui-sref="authentication.signin" target="_blank">Sign In</a>&nbsp; 
        <a class="btn btn-danger btn-lg"  ui-sref="authentication.signup" target="_blank">Sign Up</a><!--href="http://meanjs.org"-->
      <!-- </p> -->
      <!-- <br> -->
      <!-- <br> -->
    <!-- </div> -->
  </div>
  <!-- <hr>
  <div> -->
   <!--<h2>Congrats! You've configured and run the sample application.</h2>-->
   <!-- <p>MEAN.JS is a web application boilerplate, which means you should start changing everything :-)</p>
    <p>This sample application tracks users and articles.</p>
    <ul>
      <li>
        Click
        <em>Sign Up</em> to get started.
      </li>
      <li>
        Configure your app to work with your social accounts, by editing the
        <em>/config/env/*.js</em> files.
      </li>
      <li>
        Edit your users module.
      </li>
      <li>
        Add new CRUD modules.
      </li>
      <li>
        Have fun...
      </li>
    </ul>-->
  <!-- </div> -->
 <!-- <div class="row">
    <div class="col-md-4">
    <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/client/img/brand/wellness.png" />
      <h2><strong>W</strong>ellness</h2>
      <p><a target="_blank" href="http://puregeneticlifestyle.com/">DNA test</a> Learn how your genes play a role in your well-being and lifestyle choices.</p><!--<a target="_blank" href="http://docs.mongodb.org/manual/">great manual</a> is the place to get started with NoSQL and MongoDB.--><!-- </p> -->
    <!-- </div>
    <div class="col-md-4">
     <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/client/img/brand/carrier.png" />
      <h2><strong>C</strong>arrier</h2>
      <p><a target="_blank" href="http://puregeneticlifestyle.com/"> DNA test</a> If you are starting a family, find out if you are a carrier for certain inherited conditions.  --><!--<a target="_blank" href="http://expressjs.com/4x/api.html">The ExpressJS API reference for more information</a> or <a target="_blank" href="http://stackoverflow.com/questions/8144214/learning-express-for-node-js">StackOverflow</a> for more info.--><!-- </p> -->
   <!--  </div> 
   <div class="col-md-4">
     <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/client/img/brand/eye.png" />
      <h2><strong>T</strong>raits</h2>
      <p><a target="_blank" href="http://puregeneticlifestyle.com/">DNA test</a> Learn how your DNA influences your facial features, taste, smell and other traits. --><!--<a target="_blank" href="http://www.thinkster.io/">Thinkster Popular Guide</a> and <a target="_blank" href="https://egghead.io/">Egghead Videos</a> are great resources.--><!--</p>-->
 <!-- </div>
    </div>
   <div class="col-md-4">
     <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/client/img/brand/iq.png" />
      <h2><strong>I</strong>ntelligence</h2>
      <p><a target="_blank" href="http://www.iq-test.net/free-iq-test.html/">IQ test.</a> IQ in English stands for the word "lntelligent Quotient" and is used in psychology to measure human intelligence. Speaking of high IQ, people often think of intelligence and vice versa. People with high IQ often have the ability to manipulate, process and analyze information in more depth and faster than others. --><!--<a target="_blank" href="http://stackoverflow.com/questions/2353818/how-do-i-get-started-with-node-js">stackOverflow thread</a> offer excellent starting points to get to grasps with node.--><!-- </p> -->
  <!--  </div>
    <div> 
   <div class="col-md-4">
     <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/client/img/brand/EQ.png" />
      <h2><strong>E</strong>motional</h2>
      <p><a target="_blank" href="http://www.iq-test.net/eq-test.html/">EQ test.</a> EQ (Emotional Quotient) is a term used in psychometric to identify Emotional Intelligence (EI)
Emotional Intelligence or EI is referred to as the ability to recognize , evaluate and regulate your own emotions, emotions of those around you and groups of people. And just like IQ , EQ is measured by EQ Test. --><!--<a target="_blank" href="http://stackoverflow.com/questions/2353818/how-do-i-get-started-with-node-js">stackOverflow thread</a> offer excellent starting points to get to grasps with node.--><!-- </p>
    </div> -->
      <!--  <div class="col-md-4">
     <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/client/img/brand/disc.png" />
      <h2><strong>D.</strong>i.s.c</h2>
      <p><a target="_blank" href="https://www.123test.com/disc-personality-test//">Personality assessment</a> lets you determine your DISC type and personality profile quickly. Find out how the DISC factors, Dominance, Influence, Steadiness and Compliance predict your behavior towards others and the everyday things you do. --><!--<a target="_blank" href="http://stackoverflow.com/questions/2353818/how-do-i-get-started-with-node-js">stackOverflow thread</a> offer excellent starting points to get to grasps with node.</p>
 </div> -->
  </div>
<div>
  <div class="row"><!--well-->
    <!--<h2>MEAN.JS Documentation</h2>-->
</div>
<div class="row">
    <p>
    <!-- <hr> -->
     <br>
     <!-- <br> -->
      
        
        <!-- <a target="_blank" href="https://elevenfifty.org/">Carees</a> | -->
        
        <!-- <a target="_blank" href="https://elevenfifty.org/">Blog</a> -->
        <!-- </li> -->
       <!--  <li><a target="_blank" href="https://elevenfifty.org/">About us</a>
        </li>
        <li><a target="_blank" href="https://elevenfifty.org/">Privacy Policy</a>
				</li>
        <li><a target="_blank" href="https://elevenfifty.org/">Terms and Conditions</a>
        </li>
        <li><a target="_blank" href="https://elevenfifty.org/">Support</a>
        </li>
        <li><a target="_blank" href="https://elevenfifty.org/">Carees</a>
        </li>
        <li><a target="_blank" href="https://elevenfifty.org/">Blog</a>
        </li> -->
      <!-- </ul> -->
    </p>
  </div>
  <br>
  <br>
  <!-- <br> -->
  <!-- <br>* PAIR Dating Applicaton 2017 -->
</section>
